.dashboard {
  min-height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  display: flex;
  flex: 1;
}
.dashboard-content .create-job-container {
  display: block;
  /* flex-direction: column; */
  flex: 1;
}

@media (max-width: 768px) {
  .dashboard-content {
    flex-direction: column;
  }
}